@font-face{
    src:url('../fonts/STEADY-Regular.ttf') format('truetype');
    font-family: "steady";
    font-weight:normal;
    font-style:normal;
}
@font-face{
    src:url('../fonts/TUV-Montserrat-Bold.ttf') format('truetype');
    font-family: "montserrat-bold";
    font-weight:normal;
    font-style:normal;
}
@font-face{
    src:url('../fonts/TUV-Montserrat-Regular.ttf') format('truetype');
    font-family: "montserrat-regular";
    font-weight:normal;
    font-style:normal;
}
header{
    display: block;
    height: 140px;
}
#header-top{
    display: block;
    width: 100%;
    height: 70px;
    background-color: white;
    padding: 0 50px 0 90px;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    display: block;
    float: left;
    max-width: 100px;
    width: 25%;
    min-width: 25%;
    height: inherit;
    position: relative;
    top: 15px;
}
.options{
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    float: left;
    max-width: 50%;
    width: 50%;
    height: inherit;
    box-sizing: border-box;
    justify-content: center;
}
.option{
    width: 25%;
    margin: 0 auto;
}
.option:hover .sub-menu{
    display: block;
}
.option:hover .sub-option{
    display: block;
}
.sub-menu{
    display: none;
    width: 200px;
    z-index: 2;
    border: 1px groove black;
    position: absolute;
}
.sub-option{
    display: none;
    position: relative;
    background-color: white;
    height: 40px;
}
.s-o-img{
    display: block;
    height: inherit;
    float: left;
}
.s-o-content{
    display: block;
    height: inherit;
    position: relative;
    left: 20px;
    float: left;
}
.s-o-link{
    color: black;
    text-decoration: none;
}
.s-o-link:hover{
    text-decoration: none;
    color: #1FB9AB;
}
.sign-in{
    margin: 0 auto;
    position: relative;
    top: 20px;
    display: block;
    float: left;
    width: 12.5%;
    height: inherit;
    font-weight: bold;
}
.call {
    display: block;
    float: right;
    width: 12.5%;
    height: inherit;
    color: white;
}
.call-button{
    position: relative;
    top: 20px;
    background-color: red;
    border-radius: 20px;
    display: block;
    width: 140px;
    height: 28px;
    text-align: center;
    font-weight: bold;
}
#header-bottom{
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    background-color: #1FB9AB;
    min-height: 120 px;
    height: 60px;
}
.choices{
    display: block;
    width: 30%;
    background-color: #ffdb4a;
    float: left;
    height: 60px;
    margin: 0 -20px 0 90px;
    padding: 0 50px 0 0;
}
.icon-danh-muc{
    display: block;
    float: left;
    height: 60px;
    width: 15%;
}
.danh-muc{
    display: block;
    float: left;
    height: 60px;
    position: relative;
    width: 85%;
    top: 10px;
}
.choices:hover .choices-sub-menu{
    display: flex;
    flex-direction: column;
}
.choices-sub-menu{
    display: none;
    width: 385px;
    z-index: 3;
    border: 1px groove black;
    position: inherit;
}
.choices-sub-option{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    height: 60px;
    z-index: 3;
}
.c-s-o-img{
    display: block;
    float: left;
    height: inherit;
    position: relative;
    top: 10px;
    left: 2px;
}
.c-s-o-content{
    display: block;
    float: left;
    height: inherit;
    position: relative;
    top: 10px;
}
.c-s-o-link{
    color: black;
    text-decoration: none;
}
.c-s-o-link:hover{
    text-decoration: none;
    color: #1FB9AB;
}
/* Đặt thuộc tính hover chỗ .icon-danh-muc để tạo bảng biểu phụ khác */
.search{
    display: block;
    width: 500px;
    float: left;
    background-color: inherit;
    height: inherit;
}
#search-goods{
    position: relative;
    top: 15px;
    left: 30px;
    height: 30px;
    width: 79%;
    border-radius: 20px;
}
#search-goods form{
    border-radius: 20px;
}
#submit-search-goods{
    position: relative;
    top: 15px;
    height: 30px;
    width: 100px;
    left: -70px;
    background-color: #ffdb4a;
    border-radius: 20px;
}
.cart{
    display: block;
    width: 10%;
    float: left;
    background-color: inherit;
    height: inherit;
}
.print{
    display: block;
    width: 10%;
    float: left;
    background-color: inherit;
    height: inherit;
}
input{
    border: 1px solid;
    border-color: black;
}
button{
    border: 1px solid;
    border-color: black;
}
#break-column{
    display: block;
    padding: 0 90px 0 90px;
    height: 50px;
}
.muon-mau-xanh:hover{
    color: #2dccdb;
    text-decoration: none;
}
.xanh{
    color: #2dccdb;
}
#content-1{
    display: block;
    padding: 0 90px 0 90px;
    height: 700px;
}
.services{
    display: block;
    height: 200px;
}
.intro-1{
    display: inline-block;
    width: 100%;
}
.no-effect:hover, .hover-table:hover{
    color: black;
    width: inherit;
    height: inherit;
    text-decoration: none;
}
.c1-hang-1, .c1-hang-2{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.c1-hang-2{
    position: relative;
    top: 20px;
}
.c1-h1-cot-1, .c1-h1-cot-2, .c1-h1-cot-3, .c1-h2-cot-1, .c1-h2-cot-2, .c1-h2-cot-3{
    width: 390px;
    position: relative;    
}
.services a:hover{
    color: black;
    text-decoration: none;
}
.c1-h1-cot-1-content, .c1-h1-cot-2-content, .c1-h1-cot-3-content, .c1-h2-cot-1-content, .c1-h2-cot-2-content{
    line-height: 0px;
    position: absolute;
    /*font-family: 'steady'; */ 
    font-size: 35px;
    font-weight: 700;
    left: 20px;
    top: 100px;
    color: white;
}
.c1-h1-cot-1-image, .c1-h1-cot-2-image, .c1-h1-cot-3-image, .c1-h2-cot-1-image, .c1-h2-cot-2-image, .c1-h2-cot-3-image{
    position: relative;
    top: -80px;
    left: 20px;
}
.c1-h1-cot-1-content{
    text-shadow: 3px 3px #2b66c7, 2px 0px #2b66c7, 3px 0px #2b66c7, 2px 2px #2b66c7, 1px 1px 5px #2b66c7;
}
.c1-h1-cot-2-content{
    text-shadow: 3px 3px #dd817d, 2px 0px #dd817d, 3px 0px #dd817d, 2px 2px #dd817d, 1px 1px 5px #dd817d;
}
.c1-h1-cot-3-content{
    text-shadow: 3px 3px #e65051, 2px 0px #e65051, 3px 0px #e65051, 2px 2px #e65051, 1px 1px 5px #e65051;
}
.c1-h2-cot-1-content{
    text-shadow: 3px 3px #946bc6, 2px 0px #946bc6, 3px 0px #946bc6, 2px 2px #946bc6, 1px 1px 5px #946bc6;
}
.c1-h2-cot-2-content{
    text-shadow: 3px 3px #2281e0, 2px 0px #2281e0, 3px 0px #2281e0, 2px 2px #2281e0, 1px 1px 5px #2281e0
}
.c1-h1-cot-1-footer, .c1-h1-cot-2-footer, .c1-h1-cot-3-footer, .c1-h2-cot-1-footer, .c1-h2-cot-2-footer, .c1-h2-cot-3-footer{
    position: absolute;
    top: 200px;
    left: 20px;
    width: 240px;
    border-radius: 15px;
}
.c1-h1-cot-1-footer{
    background: #e7cd57;
}
.c1-h1-cot-2-footer{
    color: white;
    background: #474d6f;
}
.c1-h1-cot-3-footer{
    background: #e1cd70;
}
.c1-h2-cot-1-footer{
    color: white;
    background: #946bc6;
}
.c1-h2-cot-2-footer{
    color: white;
    background: #2281e0;
}
.bong-den{
    display: inline-block;
    position: relative;
    left: 20px;
    bottom: 2px;
}
.canh-bong-den{
    display: inline-block;
    position: relative;
    left: 20px;
}
#content-2{
    display: block;
    padding: 0 90px 0 90px;
    height: 1270px;
}
.intro-2{
    display: inline-block;
    width: 100%;
    height: 70px;
}
.dan-intro-2{
    display: block;
    float: left;
    width: 50%;
}
.search-intro-2{
    display: block;
    width: 50%;
    float: left;
}
.tim-an-pham{
    display: block;
    float: left;
    width: 50%;
}
#tim-an-pham{
    width: 270px;
}
.tim-kiem{
    display: block;
    float: left;
    width: 10%;
    position: relative;
    left: -20px;
}
#tim-kiem{
    padding: 12px 15px;
    position: relative;
    border: white;
    background-color: white;
    top: -4px;
    left: -60px;
    opacity: 0;
}
#logo-tim-kiem{
    position: relative;
    top: -1px;
    left: -28px;
}
select{
    display: block;
    float: left;
    width: 35%;
    border: 1px solid black;
}
.product{
    display: block;
    height: 1200px;
}
.hang-21, .hang-22, .hang-23, .hang-24{
    height: 300px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.hang-24{
    position: relative;
}
.cot-21, .cot-22, .cot-23, .cot-24{
    width: 25%;
    position: relative;    
}
.cot-21-content, .cot-22-content, .cot-23-content, .cot-24-content{
    font-size: 20px;
    color: black;
    position: relative;
}
.c2-footer-image{
    color: #3cbeb3;
    display: block;
    float: left;
}
.c2-footer-content{
    display: block;
    float: left;
    position: relative;
    left: 10px;
}
.c2-footer-arrow{
    color: #ff418a;
    display: block;
    float: right;
    position: relative;
    right: 30px;
}
.arrow{
    color: #ff418a;
}
.arrow:hover{
    color: #3cbeb3;
}
/* phần cuối: gần xong */
#footer-top{
    background-color: #1FB9AB;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.image-cot{
    display: block;
    height: inherit;
    float: left;
    margin: 0 auto;
} 
.footer-cot-1, .footer-cot-2, .footer-cot-3, .footer-cot-4{
    position: relative;
    top: 10px;
    display: block;
    color: white;   
    height: inherit;
}
.word-cot{
    padding: 10 0 0 0;
    display: block;
    float: left;
    position: relative;
}
#footer-bottom{
    background-color: #1B423E;
    height: 300px;   
}
.scam{
    display: block;
    padding-bottom: 30px;
}
#scam-word{
    color: white;
    text-align: center;
}
form{
    margin: 0 auto;
}
.form-scam{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}
#type-email{
    background: #1d2935;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    color: white;
}
#submit-email{
    color: black;
    background: #ffdb4a;
    width: 130px;
    height: 50px;
    font-weight: bold;
    border-radius: 20px;
    position: relative;
}
.end{
    background-color: inherit;
    color: white;
    columns: 4 200px;
    height: 250px;  
}
#customer-center, #about-company, #partners, #follow{
    position: relative;
    display: block;
    text-align: center;
    height: inherit;
}
.link-end{
    color:wheat;
    text-decoration: none;
    box-shadow: none;
}
.link-end :hover{
    color: white;
    text-decoration: none;
}
.last{
    text-align: center;
    padding: 1px 0 0 0;
    color: white;
    background-color: inherit;
}